# PyCity Schools Analysis

* Your analysis here
I wasn't able to complete the exercise in time, and had trouble with errors and only got as far as school summary.
However, from as far as I got in the time that I had, I can see that the average mark for both reading and maths was very similar. The passing rate for both subjects was also similar. For this reason, I could make further assumptions that going to a certain type of school, government, independent, large, or small, doesn't necessarily decide the likeliness a student will succeed.

In [213]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd
import numpy as np 
# File to Load (Remember to Change These)
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")
##don't need resources as I am operating within a folder containing both csvs

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
### view data mergeF
print(school_data_complete)

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
1                 90           43          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39165             51           48         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[39170 rows x 11 columns]

## Local Government Area Summary

In [59]:
# Calculate the Totals (Schools and Students)

school_name = school_data_complete['school_name'].unique()
student_num = school_data_complete['Student ID'].unique()

school_count = len(school_name)
student_count = len(student_num)

print(school_count)
print(student_count)

###school count = 15
###student count = 39170



# Calculate the Total Budget
budget = school_data_complete['budget']
total_budget = budget.sum()
print(total_budget)

## total budget- $82932329558

15
39170
82932329558

In [69]:
# Calculate the Average Scores
average_maths_score = school_data_complete['maths_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()

print(average_maths_score)
print(average_reading_score)

70.33819249425581
69.98013786060761

In [93]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_maths_count / float (student_count) * 100

print(passing_maths_count)
print(passing_maths_percentage)
print(passing_reading_count)
print(passing_reading_percentage)

passing_maths_reading_count = passing_maths_count & passing_reading_count


overall_passing_rate = passing_maths_reading_count/ float(student_count)*100
print(overall_passing_rate)

33717
86.07863160582077
33070
86.07863160582077
84.40132754659177

In [119]:
# Convert to DataFrame
area_summary = pd.DataFrame({
    "Total Students": [student_count],
    "Total Schools": [school_count],
    "Total Budget": [total_budget],
    "Average Maths score": [average_maths_score],
    "Average Reading score": [average_reading_score],
    "Percent Passing Maths": [passing_maths_percentage],
    "Percent Passing reading": [passing_reading_percentage],
    "Overall passing rate": [overall_passing_rate]
})
    
#formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Schools"] = area_summary["Total Schools"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,}".format)
area_summary["Average Maths score"] = area_summary["Average Maths score"].map("{:,.2f}%".format)
area_summary["Average Reading score"] = area_summary["Average Reading score"].map("{:,.2f}%".format)
area_summary["Percent Passing Maths"] = area_summary["Percent Passing Maths"].map("{:,.2f}%".format)
area_summary["Percent Passing reading"] = area_summary["Percent Passing reading"].map("{:,.2f}%".format)
area_summary["Overall passing rate"] = area_summary["Overall passing rate"].map("{:,.2f}%".format)


# Display the DataFrame
area_summary

,Total Students,Total Schools,Total Budget,Average Maths score,Average Reading score,Percent Passing Maths,Percent Passing reading,Overall passing rate
0,"39,170",15,"$82,932,329,558",70.34%,69.98%,86.08%,86.08%,84.40%

## School Summary

In [241]:
# Use the code provided to select the type per school from school_data

school_types = school_data_complete.set_index(['school_name'])["type"]
print(school_data_complete)
per_school = school_data_complete.groupby(['school_name'])

print(school_types)
print(per_school)
#Calculate the total student count per school from school_data

per_school_counts = per_school.value_counts()
#print(per_school_counts)


# Calculate the total school budget and per capita spending per school from school_data
#per_school_budget = school_data_complete.groupby(['school_name']).mean()['budget']
#print(per_school_budget)

#per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]


#per_school_capita =

# Calculate the average test scores per school from school_data_complete
per_school_maths = per_school['maths_score'].mean().reset_index()

#print(per_school_maths)
                                                
                                        
#per_school_reading =

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
1                 90           43          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39165             51           48         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[39170 rows x 11 columns]
school_name
Huang High School      Government
Huang High School      Government
Huang High School      Government
Huang High School      Government
Huang High School      Government
                         ...
Thomas High School    Independent
Thomas High School    Independent
Thomas High School    Independent
Thomas High School    Independent
Thomas High School    Independent
Name: type, Length: 39170, dtype: object
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BABA35A150>

In [237]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
### school_passing_maths = 
####school_passing_reading =

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
# passing_maths_and_reading =

In [183]:
##Calculate the Percentage Pass Rates
#per_school_passing_maths = passing_maths_count.groupby(["school_name"]).count()["student_name"]

#per_school_passing_reading =
#overall_passing_rate =

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [ ]:
# Convert to DataFrame
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Top Performing Schools (By %  Passing)

In [ ]:
# Sort and show top five schools
top_schools =
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show bottom five schools
bottom_schools =
bottom_schools.head(5)

## Maths Scores by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
maths_scores_by_year =

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

## Reading Score by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
reading_scores_by_year =

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [ ]:
# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
type_summary =

# Display results
type_summary